@model MCClinicalTrialDemo.Models.TrialViewModel

@{
    ViewBag.Title = "Register Trial";
}

<h2>RegisterTrial</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TrialViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TrialKey, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrialKey)
                @Html.ValidationMessageFor(model => model.TrialKey)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrialDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrialDate)
                @Html.ValidationMessageFor(model => model.TrialDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResearchName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResearchName)
                @Html.ValidationMessageFor(model => model.ResearchName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResearcherName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResearcherName)
                @Html.ValidationMessageFor(model => model.ResearcherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResearchOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResearchOn)
                @Html.ValidationMessageFor(model => model.ResearchOn)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Observation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observation)
                @Html.ValidationMessageFor(model => model.Observation)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
