@model IEnumerable<MCClinicalTrialDemo.Models.TrialViewModel>

@{
    ViewBag.Title = "Search Clinical Trials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search / List Clinical Trails </h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    -->
<p>
    @Html.Label("Trial Key")    
    @Html.TextBox("Trailkey")        
    <input type="button" class="btn btn-default" value="Search" />
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.TrialDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResearchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResearcherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResearchOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observation)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.TrialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResearchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResearcherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResearchOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observation)
            </td>           
        </tr>
    }
</table>
